.image-grid-container-two-rows {
  padding: 0 calc((100% - 258.76px * 4) / 8); 
  overflow: hidden; /* Prevent overflow */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 32px;
}

.image-grid-two-rows {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 0;
  width: 100%;
}

.image-wrapper-two-rows {
  text-align: center;
  width: 258.76px; /* Fixed width for images */
  position: relative;
}

.image-two-rows {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

/* Overlap logic for images except the first one */
.overlap-two-rows {
  margin-left: calc((100% - 258.76px * 4) / 2); 
}

/* Ensure the first image does not have negative margin */
.image-item-two-rows:first-child {
  margin-left: 0;
}

/* Ensure the last image does not have a large margin */
.image-item-two-rows:last-child {
  right: 0; /* Make sure no large margin is applied */
}
.image-item-two-rows {
  margin-bottom: 16px; /* Space between images */
}
.image-wrapper-two-rows h6 {
  font-family: 'Calibre Regular';
  font-size: 39px;
  line-height: 43px;
  letter-spacing: -0.87px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
@media (max-width: 599px) {
  .image-wrapper-two-rows h6 {
    font-family: 'Calibre Regular';
    font-size: 25px;
    line-height: 43px;
    letter-spacing: -0.87px;
    font-weight: normal;
  }
}