/* Calibre Font Family */
@font-face {
  font-family: 'Calibre Regular';
  src: url('assets/fonts/Calibre-Regular.woff2') format('woff2'),
       url('assets/fonts/Calibre-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre Medium';
  src: url('assets/fonts/Calibre-Medium.woff2') format('woff2'),
       url('assets/fonts/Calibre-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre Semibold';
  src: url('assets/fonts/Calibre-Semibold.woff2') format('woff2'),
       url('assets/fonts/Calibre-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre Light';
  src: url('assets/fonts/Calibre-Light.woff2') format('woff2'),
       url('assets/fonts/Calibre-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre Bold';
  src: url('assets/fonts/Calibre-Bold.woff2') format('woff2'),
       url('assets/fonts/Calibre-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Playfair Display Font Family */
@font-face {
  font-family: 'Playfair Display Regular';
  src: url('assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
       url('assets/fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display Medium';
  src: url('assets/fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
       url('assets/fonts/PlayfairDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display Semibold';
  src: url('assets/fonts/PlayfairDisplay-SemiBold.woff2') format('woff2'),
       url('assets/fonts/PlayfairDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display Bold';
  src: url('assets/fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
       url('assets/fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display ExtraBold';
  src: url('assets/fonts/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
       url('assets/fonts/PlayfairDisplay-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
 font-family: 'DMSerifText-Regular';
 src: url('assets/fonts/DMSerifText-Regular.ttf') format('truetype');
 font-weight: 800;
 font-style: normal;
}
.link-text {
  position: relative; /* Make sure the link is relative for ::after to work properly */
  display: inline-block; /* Ensure the link wraps tightly around the text */
}

.link-text:hover {
  background: linear-gradient(90deg, #0D99FF, #99FAF4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; /* Make text transparent */
}

.link-text:hover::after {
  content: ''; /* Ensures the ::after element is created */
  position: absolute;
  left: 0;
  bottom: 30%;
  width: 100%;
  height: 2px; /* Give enough height to make the underline visible */
  background-color: #0D99FF; /* Set the underline color */
  transition: width 0.3s ease; /* Smooth transition for the underline */
  visibility: visible; /* Ensure the underline is visible */
}


/* Shadows */
.bigShadow {
box-shadow: 0 10.14px 31.19px rgba(0, 0, 0, 0.1);
}

.midShadow {
box-shadow: 0 7.49px 22.46px rgba(0, 0, 0, 0.1);
}

.smallShadow {
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

html {
scroll-behavior: smooth;
}

.gradient-text {
background: linear-gradient(90deg, #0D99FF, #99FAF4);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;
}
