.scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
  }
  
  .scroll-button {
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  